.header nav ul{
    display: flex;
}

.header nav li a{
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
}
.header nav li a:hover{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}

.header .menu{
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
}

.header .hamburguer{
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 30px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before,
.header .hamburguer:after{
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.header .hamburguer:before{
    top:-10px;
}

.header .hamburguer:after{
    bottom: -10px;
}

.header input{
    display: none;
}

.header input:checked ~ label .hamburguer{
    transform: rotate(45deg);
}

.header input:checked ~ label .hamburguer:before{
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~ label .hamburguer:after{
    transform: rotate(90deg);
    bottom: 0;
}

@media (max-width: 1000px){
    .header .menu{
        display: block;
        cursor: pointer;
    }

    .header nav ul{
        display: none;
    }

    .header input:checked~ul{
        display: block;
    }

    .header nav{
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul{
        width: 200px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 60px -30px #000000;
    }
    
    .header nav ul a{
        text-align: center;
        padding: 20px;
        display: block;
    }
}